<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>

    <!-- Local bootstrap -->
    <link href="lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="_content/Blazor.Bootstrap/blazor.bootstrap.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["Oma.WndwCtrl.MgmtApi.styles.css"]"/>

    <!-- Local prism themes -->
    <link rel="stylesheet" href="lib/prism/prism.min.css" />
    <link rel="stylesheet" href="lib/prism/prism-tomorrow.min.css" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>

<!-- Local bootstrap bundle -->
<script src="lib/bootstrap/bootstrap.bundle.min.js"></script>

<!-- Chart.js -->
<script src="lib/chart.js/chart.umd.js"></script>
<script src="lib/chartjs-plugin-datalabels/chartjs-plugin-datalabels.min.js"></script>

<script src="lib/sortablejs/Sortable.min.js"></script>
<script src="_content/Blazor.Bootstrap/blazor.bootstrap.js" asp-append-version="true"></script>

<script src="lib/prism/prism.min.js"></script>
<script src="lib/prism/prism-csharp.min.js"></script>
<script src="lib/prism/prism-json.min.js"></script>
</body>
</html>